{
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
                "Components": "src/components",
                "DataAPI": "src/data-api",
                "Helpers": "src/helpers"
            }
        }]
    ]
}